<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="./asset/main.css">
    <link rel="stylesheet" href="./asset/base.css">
    <link rel="stylesheet" href="./asset/create_shop.css">
    <link rel="stylesheet" href="./asset/add_product.css">
    <link rel="stylesheet" href="./asset/font/fontawesome-free-5.15.4-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="./asset/img/logo web.png">

</head>
<body>
    <header class="nav">
               <!-- FORM LOGIN AND SEARCH  -->
        <!-- BEGIN  -->
        <div class="banner">
            <div class="banner-search">
                <a href="index.html">
                    <div class="banner-logo" style="background-image:url(./asset/img/logo\ web.png);">

                    </div>
                </a>
                <div class="banner-search__search">
                    <input class="banner-search__input"type="text">
                        <div class="banner-search__history">
                            <h3 class="banner-history__heading">Lịch sử tìm kiếm</h3>
                            <ul class="banner-history__list">
                                <li class="banner-history__item">
                                    <a href="#">iPhone 14 Pro Max</a>   
                                </li>
                                <li class="banner-history__item">
                                    <a href="#">Gucci</a>
                                </li>
                                <li class="banner-history__item">
                                    <a href="#">Louis Vuitton</a>
                                </li>
                                <li class="banner-history__item">
                                    <a href="#">Chanel</a>
                                </li>
                            </ul>
                        </div>
                    <div class="banner-search__icon">
                        <i class="banner-search__item fas fa-search"></i>
                    </div>
                </div>
                <div class="banner-login">
                    <div class="banner-login__cart">
                        <i class="banner-cart__icon fas fa-shopping-cart"></i>
                    </div>
                    <div class="banner-login__notification">
                        <i class="banner-notification__icon fas fa-bell"></i>
                    </div>
                    <!-- <div class="banner-login__form">
                        <div class="banner-login__register">
                            <a class="banner-login__link" href="signup.html">Sign up</a>
                        </div>
                        <div class="banner-login__login">
                            <a class="banner-login__link" href="signin.html">Sign in</a>
                        </div>
                    </div> -->
                    <div class="banner-login__wrap" style="z-index: 1;width: 50%;">
                        <div  class="banner-login__user js_open" id="user__click">
                            Jack Spar
                            <div class="user-wrap js_contain js-modal-container" id="user__detail">
                                <li class="user-wrap__detail"><i class="user-icon fas fa-user-circle"></i>My Account</li>
                                <li class="user-wrap__detail"><i class="user-icon fas fa-ticket-alt"></i>My Voucher</li>
                                <li class="user-wrap__detail"><i class="user-icon fas fa-shopping-bag"></i>My Order</li>
                                <li class="user-wrap__detail"><i class="user-icon fas fa-sign-out-alt"></i>Sign Out</li>
                            </div>
                        </div>
                    </div>
                    <img src="./asset/img_singup/User sample.png" alt="" class="banner-login__avatar js_open" id="user__detail" >
                </div>
            </div>
        </div>
    </header>
    <div class="contain">
        <div class="grid">
            <div class="nav_wrap">
                <div class="nav_contain">
                    <div class="nav_contain-heading">WELCOME TO QSTT, ONE OF THE MOST USEFUL WEB FOR ECOMMERCE</div>
                    <div class="nav_contain-user">
                        <img src="./asset/img_singup/User sample.png" alt="" class="nav_contain-img js_open" id="user__detail" >
                        <div class="nav_contain-infor">
                            <div class="nav_contain-shop">
                                <div class="nav_contain-shop-name">QSTT</div>
                                <p style="padding:0 6px ;">-</p>
                                <div class="nav_contain-shop-level">LV 1</div>
                            </div>
                            <div class="nav_contain-name">Jack Spar</div>
                        </div>
                    </div>
                    <div class="nav_contain-step">
                        <div class="separate_contain"></div>
                        <div class="nav_contain-step-register">
                            <div class="nav_contain-step-heading">Register</div>
                            <img src="./asset/ShopManagent/icon1.png" alt="" class="icon_img-nav">
                        </div>
                        <div class="nav_contain-step-register">
                            <div class="nav_contain-step-heading">Verify</div>
                            <img src="./asset/ShopManagent/icon2.png" alt="" class="icon_img-nav">
                        </div>
                        <div class="nav_contain-step-register">
                            <div class="nav_contain-step-heading">Bank ID</div>
                            <img src="./asset/ShopManagent/icon3.png" alt="" class="icon_img-nav">
                        </div>
                        <div class="nav_contain-step-register">
                            <div class="nav_contain-step-heading">Confirm</div>
                            <img src="./asset/ShopManagent/icon4.png" alt="" class="icon_img-nav">
                        </div>
                    </div>
                    <div class="nav_contain-note">Complete 4 blanket to open your shop</div>
                </div>
            </div>
            <div class="information_wrap">
                <div class="grid__row" style="padding:30px ;">
                    <div class="grid__column-6 wrap_form-information">
                        <div class="box_wrap-information">
                            <div class="box_heading-information">Company Email</div>
                            <input type="text" placeholder="Enter your mail..." class="box_form-information">
                        </div>
                    </div>
                    <div class="grid__column-6 wrap_form-information">
                        <div class="box_wrap-information">
                            <div class="box_heading-information">Company Phone</div>
                            <input type="text" placeholder="Enter your Company’s Phone..." class="box_form-information">
                        </div>
                    </div>
                    <div class="grid__column-6 wrap_form-information">
                        <div class="box_wrap-information">
                            <div class="box_heading-information">Inventory Address</div>
                            <input type="text" placeholder="City / District" class="box_form-information">
                        </div>
                    </div>
                    <div class="grid__column-6 wrap_form-information">
                        <div class="box_wrap-information">
                            <div class="box_heading-information">Identification Card</div>
                            <input type="text" placeholder="Enter your Personal ID..." class="box_form-information">
                        </div>
                    </div>
                    <div class="grid__column-6 wrap_form-information">
                        <div class="box_wrap-information">
                            <div class="box_heading-information">Company Address</div>
                            <input type="text" placeholder="City / District" class="box_form-information">
                        </div>
                    </div>
                    <div class="grid__column-6 wrap_form-information">
                        <div class="box_wrap-information">
                            <div class="box_heading-information">Bank ID</div>
                            <input type="text" placeholder="Enter your Bank ID..." class="box_form-information">
                        </div>
                    </div>
                </div>
                <div class="contain_require">
                    <input type="checkbox" checked="checked" class="contain_require-tick">
                    <label class="contain_require-note">I have read and agree with the term
                        <!-- <span class="checkmark"></span> -->
                    </label>
                </div>
                <div class="contain_button">
                    <button class="submit_button">CONFIRM</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="grid">
            <div class="grid__row footer__row">
                <div class="grid__column-4">
                    <div class="footer__logo" style="background-image: url(./asset/img/logo\ web\ 2.png);"></div>
                </div>
                <div class="footer__information">
                    <div class="footer__information-frame">
                        <i class="fas fa-globe footer__information-font"></i>
                        <p class="footer__information-font">English</p>    
                    </div>
                    <div class="footer__information-frame">
                        <p class="footer__information-font">$ VND</p>
                    </div>
                    <div class="footer__information-frame">
                        <img class="footer__information-img" src="./asset/img/cờ.jpg" alt="">
                        <p class="footer__information-font">VietNam</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>