<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Women</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/font/fontawesome-free-5.15.4-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/logo web.png">

</head>
<body>
    <header class="nav">
        <!-- FORM LOGIN AND SEARCH  -->
        <!-- BEGIN  -->
        <div class="banner">
            <div class="banner-search">
                <a href="/home">
                    <div class="banner-logo" style="background-image:url(/img/logo\ web.png);">

                    </div>
                </a>
                <div class="banner-search__search">
                    <input class="banner-search__input"type="text">
                        <div class="banner-search__history">
                            <h3 class="banner-history__heading">Lịch sử tìm kiếm</h3>
                            <ul class="banner-history__list">
                                <li class="banner-history__item">
                                    <a href="#">iPhone 14 Pro Max</a>   
                                </li>
                                <li class="banner-history__item">
                                    <a href="#">Gucci</a>
                                </li>
                                <li class="banner-history__item">
                                    <a href="#">Louis Vuitton</a>
                                </li>
                                <li class="banner-history__item">
                                    <a href="#">Chanel</a>
                                </li>
                            </ul>
                        </div>
                    <div class="banner-search__icon">
                        <i class="banner-search__item fas fa-search"></i>
                    </div>
                </div>
                <div class="banner-login">
                    <div class="banner-login__cart">
                        <i class="banner-cart__icon fas fa-shopping-cart"></i>
                    </div>
                    <div class="banner-login__notification">
                        <i class="banner-notification__icon fas fa-bell"></i>
                    </div>
                    <div class="banner-login__form">
                        <div class="banner-login__register">
                            <a class="banner-login__link" href="/register">Sign up</a>
                        </div>
                        <div class="banner-login__login">
                            <a class="banner-login__link" href="/login">Sign in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END -->
        <!-- DANH MUC  -->
        <!-- BEGIN  -->
        <div class="container-list">
            <ul class="container-list__menu">
                <li class="container-list__item">ELECTRONICS
                    <div class="container-list__wrap">
                        <a href="/electronic-accessories" class="container-detail__button">Accessories & supplies</a>
                        <a href="/electronic-camera" class="container-detail__button">Camera & TV</a>
                    </div>
                </li>
                <li class="container-list__item">FASHION
                    <div class="container-list__wrap">
                        <a href="/fashion-men" class="container-detail__button">Men</a>
                        <a href="/fashion-women" class="container-detail__button">Women</a>
                    </div>
                </li>
                <li class="container-list__item">HOUSEWARE
                    <div class="container-list__wrap">
                        <a href="/houseware-livingroom" class="container-detail__button">Living Room</a>
                        <a href="/houseware-bedroom" class="container-detail__button">Bedroom</a>
                        <a href="/houseware-kitchen" class="container-detail__button">Kitchen</a>
                    </div>
                </li>
                <li class="container-list__item">COMESTIC
                    <div class="container-list__wrap">
                        <a href="/comestic-health" class="container-detail__button">Health</a>
                        <a href="/comestic-beauty" class="container-detail__button">Beauty</a>
                    </div>
                </li>
                <li class="container-list__item">SHOES
                    <div class="container-list__wrap">
                        <a href="/shoes-men" class="container-detail__button">Men</a>
                        <a href="/shoes-women" class="container-detail__button">Women</a>
                    </div>
                </li>
                <li class="container-list__item">ACCESSORY
                    <div class="container-list__wrap">
                        <a href="/accessory-watch" class="container-detail__button">Watch</a>
                        <a href="/accessory-jewelry" class="container-detail__button">Jewelry</a>
                    </div>
                </li>
                <li class="container-list__item">SPORTS
                    <div class="container-list__wrap">
                        <a href="/sports-soccer" class="container-detail__button">Soccer</a>
                        <a href="/sports-golf" class="container-detail__button">Golf</a>
                        <a href="/sports-basketball" class="container-detail__button">Basketball</a>
                        <a href="/sports-volleyball" class="container-detail__button">Volleyball</a>
                    </div>
                </li>
                <li class="container-list__item">BOOK
                    <div class="container-list__wrap">
                        <a href="/book-comic" class="container-detail__button">Comic</a>
                        <a href="/book-novel" class="container-detail__button">Novel</a>
                        <a href="/book-magazine" class="container-detail__button">Magazine</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <div class="container">
        <div class="container-product">
            <div class="item-in__list">Women's fashion</div>
            <div class="grid">
                <div class="grid__row container_row">
                    <div class="grid__column-3 container_product">
                        <div class="container-product__img" style="background-image: url(/img_product/WomanFashion1.png);"></div>
                        <p class="information-product">ASOS DESIGN Tall high neck pleated trapeze mini dress in pale pink</p>
                        <p class="ship_location-product">Ships to VietNam</p>
                        <a href="#" class="price-product">$34.22</a>
                    </div>
                    <div class="grid__column-3 container_product">
                        <div class="container-product__img" style="background-image: url(/img_product/WomanFashion2.png);"></div>
                        <p class="information-product">Tommy Hilfiger Women's Classic Tommy Open Front Band Jacket</p>
                        <p class="ship_location-product">Ships to VietNam</p>
                        <a href="#" class="price-product">$56.95</a>
                    </div>
                    <div class="grid__column-3 container_product">
                        <div class="container-product__img" style="background-image: url(/img_product/WomanFashion3.png);"></div>
                        <p class="information-product">Charles River Apparel Women's Pacific Heathered Sweater Fleece Vest</p>
                        <p class="ship_location-product">Ships to VietNam</p>
                        <a href="#" class="price-product">$109.99</a>
                    </div>
                    <div class="grid__column-3 container_product">
                        <div class="container-product__img" style="background-image: url(/img_product/WomanFashion4.png);"></div>
                        <p class="information-product">Columbia Women's PFG Bahama II UPF 30 Long Sleeve Fishing Shirt</p>
                        <p class="ship_location-product">Ships to VietNam</p>
                        <a href="#" class="price-product">$119.99</a>
                    </div>
                    <div class="grid__column-3 container_product">
                        <div class="container-product__img" style="background-image: url(/img_product/WomanFashion5.png);"></div>
                        <p class="information-product">Skye Women's Standard Joy Tie Front Kimono Cover-up</p>
                        <p class="ship_location-product">Ships to VietNam</p>
                        <a href="#" class="price-product">$136.99</a>
                    </div>
                    <div class="grid__column-3 container_product">
                        <div class="container-product__img" style="background-image: url(/img_product/WomanFashion6.png);"></div>
                        <p class="information-product">Daily Ritual Women's Supersoft Terry Standard-Fit Long-Sleeve Hooded Pullover</p>
                        <p class="ship_location-product">Ships to VietNam</p>
                        <a href="#" class="price-product">$138.99</a>
                        <!-- <p class="out-of-stock">Temporarily out of stock.</p> -->
                    </div>
                    <div class="grid__column-3 container_product">
                        <div class="container-product__img" style="background-image: url(/img_product/WomanFashion7.png);"></div>
                        <p class="information-product">Nautica Women's Easy Classic Short Sleeve Stretch Cotton Polo Dress</p>
                        <p class="ship_location-product">Ships to VietNam</p>
                        <a href="#" class="price-product">$333.52</a>
                    </div>
                    <div class="grid__column-3 container_product">
                        <div class="container-product__img" style="background-image: url(/img_product/WomanFashion8.png);"></div>
                        <p class="information-product">TIKSAWON Womens Summer Strappy Tank Tops Loose fit Casual Sleeveless Blouses Sexy Knit Cami</p>
                        <p class="ship_location-product">Ships to VietNam</p>
                        <a href="#" class="price-product">$89.95</a>
                    </div>
                    <div class="grid__column-3 container_product">
                        <div class="container-product__img" style="background-image: url(/img_product/WomanFashion9.png);"></div>
                        <p class="information-product">Anne Klein Women's Solid Triple Pleat Top</p>
                        <p class="ship_location-product">Ships to VietNam</p>
                        <a href="#" class="price-product">$49.19</a>
                    </div>
                    <div class="grid__column-3 container_product">
                        <div class="container-product__img" style="background-image: url(/img_product/WomanFashion10.png);"></div>
                        <p class="information-product">Anne Klein Women's Solid Triple Pleat Top</p>
                        <p class="ship_location-product">Ships to VietNam</p>
                        <a href="#" class="price-product">$42.99</a>
                    </div>
                    <div class="grid__column-3 container_product">
                        <div class="container-product__img" style="background-image: url(/img_product/WomanFashion11.png);"></div>
                        <p class="information-product">Sofra Women's Thin Cotton Zip Up Hoodie Jacket</p>
                        <p class="ship_location-product">Ships to VietNam</p>
                        <a href="#" class="price-product">$19.95</a>
                    </div>
                    <div class="grid__column-3 container_product">
                        <div class="container-product__img" style="background-image: url(/img_product/WomanFashion12.png);"></div>
                        <p class="information-product">Dickies Women's Short Sleeve Flex Coverall</p>
                        <p class="ship_location-product">Ships to VietNam</p>
                        <a href="#" class="price-product">$54.19</a>
                    </div>
                </div>
            </div>  
        </div>
        <div class="container-bestseller">
            <div class="grid__header">
                <div class="container-bestseller__heading">
                    BEST SELLER OF THE WEEK
                </div>
            </div>
            <div class="container-bestseller__detail">
                <div class="grid">
                    <div class="grid__row container-bestseller__row">
                        <div class="grid__column-3">
                            <div class="container-bestseller__product" style="background-image: url(/img/banner\ 12.jpeg);"></div>
                        </div>
                        <div class="grid__column-3">
                            <div class="container-bestseller__product" style="background-image: url(/img/banner\ 13.jpg);"></div>
                        </div>
                        <div class="grid__column-3">
                            <div class="container-bestseller__product" style="background-image: url(/img/banner\ 14.jpg);"></div>
                        </div>
                        <div class="grid__column-3">
                            <div class="container-bestseller__product" style="background-image: url(/img/banner\ 15.jpg);"></div>
                        </div>
                        <button class="container-bestseller__next">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                        <button class="container-bestseller__previous">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="grid">
            <div class="grid__row footer__row">
                <div class="grid__column-4">
                    <div class="footer__logo" style="background-image: url(/img/logo\ web\ 2.png);"></div>
                </div>
                <div class="footer__information">
                    <div class="footer__information-frame">
                        <i class="fas fa-globe footer__information-font"></i>
                        <p class="footer__information-font">English</p>    
                    </div>
                    <div class="footer__information-frame">
                        <p class="footer__information-font">$ VND</p>
                    </div>
                    <div class="footer__information-frame">
                        <img class="footer__information-img" src="/img/cờ.jpg" alt="">
                        <p class="footer__information-font">VietNam</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>