<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/my_account.css">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/font/fontawesome-free-5.15.4-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/logo web.png">

</head>
<body>
    <header class="nav">
               <!-- FORM LOGIN AND SEARCH  -->
        <!-- BEGIN  -->
        <div class="banner">
            <div class="banner-search">
                <a href="/index_signin">
                    <div class="banner-logo" style="background-image:url(/img/logo\ web.png);">

                    </div>
                </a>
                <div class="banner-search__search">
                    <input class="banner-search__input"type="text">
                        <div class="banner-search__history">
                            <h3 class="banner-history__heading">Lịch sử tìm kiếm</h3>
                            <ul class="banner-history__list">
                                <li class="banner-history__item">
                                    <a href="#">iPhone 14 Pro Max</a>   
                                </li>
                                <li class="banner-history__item">
                                    <a href="#">Gucci</a>
                                </li>
                                <li class="banner-history__item">
                                    <a href="#">Louis Vuitton</a>
                                </li>
                                <li class="banner-history__item">
                                    <a href="#">Chanel</a>
                                </li>
                            </ul>
                        </div>
                    <div class="banner-search__icon">
                        <i class="banner-search__item fas fa-search"></i>
                    </div>
                </div>
                <div class="banner-login">
                    <div class="banner-login__cart">
                        <i class="banner-cart__icon fas fa-shopping-cart"></i>
                    </div>
                    <div class="banner-login__notification">
                        <i class="banner-notification__icon fas fa-bell"></i>
                    </div>
                    <!-- <div class="banner-login__form">
                        <div class="banner-login__register">
                            <a class="banner-login__link" href="/register">Sign up</a>
                        </div>
                        <div class="banner-login__login">
                            <a class="banner-login__link" href="/login">Sign in</a>
                        </div>
                    </div> -->
                    <div class="banner-login__wrap" style="z-index: 1;width: 50%;">
                        <div  class="banner-login__user js_open" id="user__click">
                            Jack Spar
                            <div class="user-wrap js_contain js-modal-container" id="user__detail">
                                <li class="user-wrap__detail"><i class="user-icon fas fa-user-circle"></i>My Account</li>
                                <li class="user-wrap__detail"><i class="user-icon fas fa-ticket-alt"></i>My Voucher</li>
                                <li class="user-wrap__detail"><i class="user-icon fas fa-shopping-bag"></i>My Order</li>
                                <li class="user-wrap__detail"><i class="user-icon fas fa-sign-out-alt"></i>Sign Out</li>
                            </div>
                        </div>
                    </div>
                    <img src="/img_singup/User sample.png" alt="" class="banner-login__avatar js_open" id="user__detail" >
                </div>
            </div>
        </div>
    </header>
    <div class="contain">
        <div class="contain_information">
            <div class="contain_description">Account Information</div>
            <div class="grid" style="position: relative;">
                <div class="seperate"></div>
                <div class="grid__row">
                    <div class="grid__column-6">
                        <ul class="contain_personal">
                        <img src="/img_singup/User sample.png" alt="" class="contain_user-img" id="">

                            <li class="contain_personal-infor">
                                <div class="contain_personal-des">Full Name</div>
                                <div class="contain_personal-des2">
                                    <input type="text" class="contain_personal-box">

                                </div>
                            </li>
                            <li class="contain_personal-infor">
                                <div class="contain_personal-des">ID Name</div>

                                <!-- <div class="contain_personal-des2">
                                    <input type="text" class="contain_personal-box">
                                    
                                </div> -->
                            </li>
                            <li class="contain_personal-infor">
                                <div class="contain_personal-des">Birthday</div>
                                <div class="contain_personal-des2">
                                    <select class="contain_option-birth" name="year" id="year" size="1"></select>
                                    <select class="contain_option-birth" name="month" id="month" size="1"></select>
                                    <select class="contain_option-birth" name="day" id="day" size="1">
                                    <option value=" " selected="selected">-- Day --</option>
                                    </select>
                                    
                                </div>
                            </li>
                            <li class="contain_personal-infor">
                                <div class="contain_personal-des">Gender</div>
                                <div class="contain_personal-des2">
                                    <div class="contain_option-gender">
                                        <input type="radio" id="gender1" name="gender" value="Male">
                                        <label for="gender1">Male</label>
                                    </div>
                                    <div class="contain_option-gender">
                                        <input type="radio" id="gender2" name="gender" value="Female">
                                        <label for="gender2">Female</label>
                                    </div>
                                    <div class="contain_option-gender">
                                        <input type="radio" id="gender3" name="gender" value="Other">
                                        <label for="gender3">Other</label>
                                    </div>   
                                </div>
                            </li>
                            <li class="contain_personal-infor">
                                <div class="contain_personal-des">Location</div>
                                <div class="contain_personal-des2">
                                    <div class="custom-select" style="width:200px;">
                                        <select>
                                          <option value="0">Select :</option>
                                          <option value="1">USA</option>
                                          <option value="2">China</option>
                                          <option value="3">Korea</option>
                                          <option value="4">Japan</option>
                                          <option value="5">France</option>
                                          <option value="6">VietNam</option>
                                          <option value="7">ThaiLand</option>
                                          <option value="8">Russia</option>
                                          <option value="9">Germany</option>
                                          <option value="10">England</option>
                                        </select>
                                    </div>
                                    
                                </div>
                            </li>
                            <button class="submit-button">Save</button>
                        </ul>
                    </div>
                    <div class="grid__column-6">
                        <li class="contain_security">
                            <div class="contain_security-wrap">
                                <div class="contain_security-infor">
                                    <i class="fas fa-phone-alt contain_security-icon"></i>
                                    Phone Number
                                </div>
                                <div class="contain_security-add">
                                    Add
                                </div>
                            </div>
                        </li>
                        <li class="contain_security">
                            <div class="contain_security-wrap">
                                <div class="contain_security-infor">
                                    <i class="fas fa-envelope contain_security-icon"></i>
                                    Email Address
                                </div>
                                <div class="contain_security-add">
                                    Add
                                </div>
                            </div>
                        </li>
                        <li class="contain_security">
                            <div class="contain_security-wrap">
                                <div class="contain_security-infor">
                                    <i class="fas fa-lock contain_security-icon"></i>
                                    Change Password
                                </div>
                                <div class="contain_security-add">
                                    Add
                                </div>
                            </div>
                        </li>
                        <li class="contain_security">
                            <div class="contain_security-wrap">
                                <div class="contain_security-infor" style="width: 100%; font-size: 3rem;">
                                    Social Connection
                                    <div class="contain_security-connect">
                                        <img src="/img_singup/GG icon.png" alt="" style="width: 30px; height: 30px;">
                                        <div class="contain_wrap-bar">
                                            <div class="contain_security-bar">
                                                Google
                                            </div>
                                            <div class="contain_security-linked">
                                                Linked
                                            </div>       
                                        </div>
                                    </div>
                                    <div class="contain_security-connect">
                                        <img src="/img_singup/FB icon.png" alt="" style="width: 29px; height: 29px;";>
                                        <div class="contain_wrap-bar">
                                            <div class="contain_security-bar">
                                                Facebook
                                            </div>
                                            <div class="contain_security-linked">
                                                Linked
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="contain_security-connect">
                                        <img src="/img_singup/twitter icon.png" alt="" style="width: 24px; height: 24px;">
                                        <div class="contain_security-bar">
                                            Twitter
                                        </div>
                                        <div class="contain_security-linked">
                                            Linked
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="grid">
            <div class="grid__row footer__row">
                <div class="grid__column-4">
                    <div class="footer__logo" style="background-image: url(/img/logo\ web\ 2.png);"></div>
                </div>
                <div class="footer__information">
                    <div class="footer__information-frame">
                        <i class="fas fa-globe footer__information-font"></i>
                        <p class="footer__information-font">English</p>    
                    </div>
                    <div class="footer__information-frame">
                        <p class="footer__information-font">$ VND</p>
                    </div>
                    <div class="footer__information-frame">
                        <img class="footer__information-img" src="/img/cờ.jpg" alt="">
                        <p class="footer__information-font">VietNam</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- <script src="/index_signin.js"></script> -->
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="../server.js"></script>
<script src="/my_account.js"></script>
<script src="https://kit.fontawesome.com/fed021d002.js" crossorigin="anonymous"></script>