<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Order</title> 
    <!-- tên sản phẩm -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/orderproduct.css">
    <link rel="stylesheet" href="/font/fontawesome-free-5.15.4-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/logo web.png">

</head>
<body>
    <header class="nav">
        <!-- FORM LOGIN AND SEARCH  -->
        <!-- BEGIN  -->
        <div class="banner">
            <div class="banner-search">
                <a href="/home">
                    <div class="banner-logo" style="background-image:url(/img/logo\ web.png);">

                    </div>
                </a>
                <div class="banner-search__search">
                    <input class="banner-search__input"type="text">
                        <div class="banner-search__history">
                            <h3 class="banner-history__heading">Lịch sử tìm kiếm</h3>
                            <ul class="banner-history__list">
                                <li class="banner-history__item">
                                    <a href="#">iPhone 14 Pro Max</a>   
                                </li>
                                <li class="banner-history__item">
                                    <a href="#">Gucci</a>
                                </li>
                                <li class="banner-history__item">
                                    <a href="#">Louis Vuitton</a>
                                </li>
                                <li class="banner-history__item">
                                    <a href="#">Chanel</a>
                                </li>
                            </ul>
                        </div>
                    <div class="banner-search__icon">
                        <i class="banner-search__item fas fa-search"></i>
                    </div>
                </div>
                <div class="banner-login">
                    <div class="banner-login__cart">
                        <i class="banner-cart__icon fas fa-shopping-cart"></i>
                    </div>
                    <div class="banner-login__notification">
                        <i class="banner-notification__icon fas fa-bell"></i>
                    </div>
                    <div class="banner-login__form">
                        <div class="banner-login__register">
                            <a class="banner-login__link" href="/register">Sign up</a>
                        </div>
                        <div class="banner-login__login">
                            <a class="banner-login__link" href="/login">Sign in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="contain">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column-6" style="padding: 0 16px;">
                    <div class="contain_customer">
                        <div class="contain_address">
                            <div class="contain_address-heading">
                                Delivery Address
                            </div>
                            <div class="contain_address-change">
                                CHANGE
                            </div>
                        </div>
                        <div class="contain_information">
                            <div class="contain_information-wrap">
                                <div class="contain_information-heading">Name:</div>
                                <div class="contain_information-customer">Jack Sparrow</div>
                            </div>
                            <div class="contain_information-wrap">
                                <div class="contain_information-heading">Number:</div>
                                <div class="contain_information-customer">0912347777</div>
                            </div>
                            <div class="contain_information-wrap">
                                <div class="contain_information-heading">Others Number:</div>
                                <div class="contain_information-customer">0877771234</div>
                            </div>
                            <div class="contain_information-wrap">
                                <div class="contain_information-heading">Address:</div>
                                <div class="contain_information-customer">Caribbean, South America to the south, Central America to the west, and North America to the northwest.</div>
                            </div>

                        </div>
                    </div>
                    <div class="contain_list">
                        <div class="contain_list-h1">
                            <div class="contain_list-wrap">
                                <div class="contain_list-heading">Number of packages:</div>
                                <div class="contain_list-total">1</div>
                            </div>
                            <div class="contain_list-wrap">
                                <div class="contain_list-heading" style="color: #e2bf07;">Delivery by:</div>
                                <div class="contain_delivery-name">T-Rex</div>
                            </div>
                        </div>
                        <h1 class="heading_delivery-option" style="padding-top: 20px;">Delivery Options</h1>
                        <div class="delivery_wrap">
                            <div class="delivery_wrap-form">
                                <div class="delivery_wrap-date">
                                    <div class="delivery_date-from">From: 20/5</div>
                                    <div class="delivery_date-to">to 25/5</div>
                                </div>
                                <div class="delivery_option">Fast Shipping</div>
                            </div>
                            <div class="delivery_wrap-form">
                                <div class="delivery_wrap-date">
                                    <div class="delivery_date-from">From: 20/5</div>
                                    <div class="delivery_date-to">to 25/5</div>
                                </div>
                                <div class="delivery_option">Fast Shipping</div>
                            </div>
                        </div>
                        <div class="contain_order">
                            <div class="contain_order-img">
                                <img src="/img_product/Watch1.png" alt="" class="contain_img-order">
                            </div>
                            <div class="contain_order-name">
                                Donerton Smart Watch, TFT Touch Screen Fitness Watches for Men Women 24 Sport Modes IP68 Waterproof Smartwatch with Heart Rate Monitor, Sleep Monitor, Pedometer, Fitness Tracker for Android Etc
                            </div>
                            <div class="contain_order-quantity">x1</div>
                        </div>
                    </div>
                </div>
                <div class="grid__column-6" style="padding: 0 16px;">
                    <div class="contain_payment-heading">Payment Methods</div>
                    <div class="contain_payment">
                        <div class="contain_payment-option">
                            <div class="contain_payment-cash">
                                <i class="fas fa-money-bill-wave-alt"></i>
                                <div class="contain_payment-detail">Payment on delivery</div>
                            </div>
                            <div class="contain_payment-cash">
                                <i class="fas fa-credit-card"></i>
                                <div class="contain_payment-detail">Credit Card</div>
                            </div>
                        </div>
                        <div class="contain_voucher">
                            <div class="contain_voucher-heading">Discount Code</div>
                            <div class="contain_voucher-wrap">
                                <input type="text" placeholder="Enter code..." class="contain_voucher-input">
                                <a href="#" class="contain_voucher-apply">Apply</a>
                            </div>
                        </div>
                        <div class="contain_order-information">Order Information
                            <div class="contain_order-heading">
                                <div class="contain_order-text">Price</div>
                                <div class="contain_order-detail">240$</div>
                            </div>
                            <div class="contain_order-heading">
                                <div class="contain_order-text">Quantity</div>
                                <div class="contain_order-detail">1</div>
                            </div>
                            <div class="contain_order-heading">
                                <div class="contain_order-text">Delivery Price</div>
                                <div class="contain_order-detail">2$</div>
                            </div>
                            <div class="contain_order-heading">
                                <div class="contain_order-text">Total</div>
                                <div class="contain_order-detail total_price">242$</div>
                            </div>
                        </div>
                        <button class="confirm">Confirm Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="grid">
            <div class="grid__row footer__row">
                <div class="grid__column-4">
                    <div class="footer__logo" style="background-image: url(/img/logo\ web\ 2.png);"></div>
                </div>
                <div class="footer__information">
                    <div class="footer__information-frame">
                        <i class="fas fa-globe footer__information-font"></i>
                        <p class="footer__information-font">English</p>    
                    </div>
                    <div class="footer__information-frame">
                        <p class="footer__information-font">$ VND</p>
                    </div>
                    <div class="footer__information-frame">
                        <img class="footer__information-img" src="/img/cờ.jpg" alt="">
                        <p class="footer__information-font">VietNam</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>